h1 Welcome to #{title}

- if (session.signUpMessage)
    .row
        .span12.alert.alert-success
            a(class="close", data-dismiss="alert") x
            p= session.signUpMessage

p
  a(href='/how-are-you-feeling') How are you feeling today?